<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer DetailsS</title>
    <link rel="stylesheet" href="/admin/css/style.css">
    <link rel="stylesheet" href="/admin/css/all.css">
</head>
<body>
    <%-include('../partials/admin/header.ejs')%>
    
    <%-include('../partials/admin/left.ejs')%>
   

    
    <h2 class="text-center">welcome <%=username%> to profile page </h2>
    <div class="table-responsive mx-auto">

        <table class="table">

            <tbody>
                <!-- <div class="container text-center">
                    <h4>Majdor Detail's </h4>
                </div> -->
                <tr>
                    <td style="width: 20%;">
                        <!-- User Image -->
                        <img src="/images/carpenter-svgrepo-com.svg" alt="User Image"
                            class="img-fluid rounded-circle" style="max-width: 100%;">
                    </td>
                    <td>
                        <!-- User Details Table -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>First Name:</th>
                                    <td><%=record.firstName%></td>
                                </tr>
                                <tr>
                                    <th>Last Name:</th>
                                    <td><%=record.LastName%></td>
                                </tr>
                                <tr>
                                    <th>Address:</th>
                                    <td><%=record.address%></td>
                                </tr>
                                <tr>
                                    <th>Mobile:</th>
                                    <td><%=record.mobile%></td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </td>
                </tr>
            </tbody>
            <section id="header">
                <div class="container">
                    <!-- <div class="col-md-4">
                        <h5>Welcome <%=username%></h5>
                    </div> -->
                    <div class="col-md-8">
                        <a href="/logout"><button class="btn btn-danger">Logout</button></a>
                        <a href="/profileupdate"><button class="btn btn-success me-2">Profile Update</button></a>
                    </div>
                </div>
            </section>
            
        </table>
      
    </div>
</body>
</html>