<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer DetailsS</title>
</head>
<body>
    
    <%-include('../partials/admin/header.ejs')%>
    <h2><%=username%>Body</h2>
    <p>Image:<%=record.img%></p>
    <p>First Name:<%=record.firstName%></p>
    <p>LastName:<%=record.LastName%></p>
    <p>Addres:<%=record.address%></p>
    <p>Mobile:<%=record.mobile%></p>
    
</body>
</html>