<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majdoor</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/Majdoor_Dashbord.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!--Js file link-->
    <script src="/majdoor/Majdoor_Dashbord.js"></script>


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">



</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html"><%=username%>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="#newbooking">
                        <span class="nav-link-text">बुकिंग</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="#pastbooking">
                        <span class="nav-link-text">रिकॉर्ड</span>
                    </a>
                </li>
                <!-- <%record.forEach(()=>{%>

               <% })%> -->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                   
                        <a class="nav-link" href="/majdoor/tables">
                            <span class="nav-link-text">प्रोफ़ाइल</span>
                        </a>
                     
                   
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="#mvideo">
                        <span class="nav-link-text">श्रम अधिकार</span>
                    </a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="#help">
                        <span class="nav-link-text">सहायता</span>
                    </a>
                </li>
                
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty
                                awesome! These messages clip off when they reach the end of the box so they don't
                                overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at
                                3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When
                                you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All
                                systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All
                                systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All
                                systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all alerts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="निम्न को खोजें...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a href="/majdoor/logout" class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>लॉग आउट</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper" id="newbooking">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb" style="margin-left: 20px;">
            <li class="breadcrumb-item">
                <a href="#">डैशबोर्ड</a>
            </li>
            <li class="breadcrumb-item active"> मेरा डैशबोर्ड</li>
        </ol>
        <div class="container-fluid">
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> नई बुकिंग
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>बुकिंग आईडी</th>
                                    <th>पता</th>
                                    <th>फ़ोन नंबर</th>
                                    <th>काम</th>
                                    <th>तारीख</th>
                                    <th>तनख़्वाह</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>नाम</th>
                                    <th>बुकिंग आईडी</th>
                                    <th>पता</th>
                                    <th>फ़ोन नंबर</th>
                                    <th>काम</th>
                                    <th>तारीख</th>
                                    <th>तनख़्वाह</th>
                                    <th> </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <%record.forEach((result,key)=>{%>

                               
                                <tr>
                                    <td><%=result.email%></td>
                                    <td><%=result.id%></td>
                                    <td><%=result.address%></td>
                                    <td><%=result.mobile%></td>
                                    <td>लकड़ी के सीढ़ी निर्माण</td>
                                    <td><%= result.CreateDate.toDateString() %></td>
                                    <td>200</td>
                                    <td>
                                            <a href="#" class="accept"><span class="fa fa-check"></span></a><br><br>
                                            </td>
                                            <td>        
                                            <a href="#" class="deny"><span class="fa fa-close"></span></a>
                                        
                                    </td>
                                </tr>
                                <% })%>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">अपडेट 11:59 </div>
            </div>

        <!-- accepted bookings-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> मेरा आरक्षण
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>नाम</th>
                                <th>बुकिंग आईडी</th>
                                <th>पता</th>
                                <th>फ़ोन नंबर</th>
                                <th>काम</th>
                                <th>तारीख</th>
                                <th>तनख़्वाह</th>
                            
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>नाम</th>
                                <th>बुकिंग आईडी</th>
                                <th>पता</th>
                                <th>फ़ोन नंबर</th>
                                <th>काम</th>
                                <th>तारीख</th>
                                <th>तनख़्वाह</th>
                                
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>के एस चौधरी</td>
                                <td>23S100005</td>
                                <td>123 एल्म स्ट्रीटसिटीविले, XX 12345 जनकपुर</td>
                                <td>1288003456</td>
                                <td>लकड़ी के सीढ़ी निर्माण</td>
                                <td>12/10/2023
                                    10:00</td>
                                <td>200</td>
                                <!-- <td>
                                    <div id="check"><i class="bi bi-check-circle"></i></div>
                                        <div id="reject"><i class="bi bi-x-circle"></i></div> -->
                                    
                                    <!--[if lte IE 9]>
                                    <style>
                                        .path {stroke-dasharray: 0 !important;}
                                    </style>
                                    <![endif]-->

                                        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6"
                                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6"
                                                stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9"
                                                x2="95.8" y2="92.3" />
                                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6"
                                                stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38"
                                                x2="34.4" y2="92.2" />
                                        </svg> -->

                                    <!-- </td> -->
                                </tr>
                                <tr>
                                    <td>रितु</td>
                                    <td>23S100089</td>
                                    <td>123 एल्म स्ट्रीटसिटीविले, XX 12345 जनकपुर</td>
                                    <td>1276603456</td>
                                    <td>वूडन फर्नीचर निर्माण</td>
                                    <td>22/10/2023
                                        13:00</td>
                                    <td>500</td>
                                    <!-- <td> -->
                                        <!-- <div id="check"><i class="bi bi-check-circle"></i></div> -->
                                        <!-- <div id="reject"><i class="bi bi-x-circle"></i></div> -->

                                        <!--[if lte IE 9]>
                                    <style>
                                        .path {stroke-dasharray: 0 !important;}
                                    </style>
                                    <![endif]-->

                                        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6"
                                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6"
                                                stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9"
                                                x2="95.8" y2="92.3" />
                                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6"
                                                stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38"
                                                x2="34.4" y2="92.2" />
                                        </svg> -->

                                    <!-- </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">अपडेट 11:59 </div>
            </div>


            <!-- record table-->
            <div id="pastbooking" class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> पिछली बुकिंग
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>नाम</th>
                                    <th>बुकिंग आईडी</th>
                                    <th>पता</th>
                                    <th>फ़ोन नंबर</th>
                                    <th>काम</th>
                                    <th>तारीख</th>
                                    <th>तनख़्वाह</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>नाम</th>
                                    <th>बुकिंग आईडी</th>
                                    <th>पता</th>
                                    <th>फ़ोन नंबर</th>
                                    <th>काम</th>
                                    <th>तारीख</th>
                                    <th>तनख़्वाह</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>दीया कपूर</td>
                                    <td>23S100005</td>
                                    <td>123 एल्म स्ट्रीटसिटीविले, XX 12345 जनकपुर</td>
                                    <td>1288003456</td>
                                    <td>लकड़ी के सीढ़ी निर्माण</td>
                                    <td>12/10/2023
                                        10:00</td>
                                    <td>200</td>

                                </tr>
                                <tr>
                                    <td>रितु</td>
                                    <td>23S100089</td>
                                    <td>123 एल्म स्ट्रीटसिटीविले, XX 12345 जनकपुर</td>
                                    <td>1276603456</td>
                                    <td>वूडन फर्नीचर निर्माण</td>
                                    <td>22/10/2023
                                        13:00</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>मीनू भंडारी</td>
                                    <td>23S100089</td>
                                    <td>123 एल्म स्ट्रीटसिटीविले, XX 12345 जनकपुर</td>
                                    <td>1276603456</td>
                                    <td>वूडन फर्नीचर निर्माण</td>
                                    <td>22/10/2023
                                        13:00</td>
                                    <td>500</td>
                                </tr>

                                <tr>
                                    <td>निहारिका शर्मा</td>
                                    <td>23S100089</td>
                                    <td>123 एल्म स्ट्रीटसिटीविले, XX 12345 जनकपुर</td>
                                    <td>1276603456</td>
                                    <td>वूडन फर्नीचर निर्माण</td>
                                    <td>22/10/2023
                                        13:00</td>
                                    <td>500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">अपडेट 11:59 </div>
            </div>
        </div>
        
        <div class="text-center" id="mvideo"><h2>श्रम अधिकार</h2>
            <div class="col-lg-4" >
                <div class="gallery">
                  <div>
                    <iframe src="https://www.youtube.com/embed/NcoKL_f3ngo?si=dfSoM6GVPyfttrv7" allowfullscreen frameborder="0" name="tab"></iframe>
                  </div>
                  <div>
                    <span>
                    <a href="https://www.youtube.com/embed/kePyliKqy0o?si=8ywSCP1XNak5bqfF" target="tab"><img src="//img.youtube.com/vi/1TYl3jhfEDA/default.jpg"></a>
                    <a href="https://www.youtube.com/embed/gkEh5K9dkO0?si=wSlPr1Cg8rsMTEL0" target="tab"><img src="//img.youtube.com/vi/xFa2_PVMeDQ/default.jpg"></a>
                    <a href="//www.youtube.com/embed/hSrOpTYKNMw?rel=0&autoplay=1" target="tab"><img src="//img.youtube.com/vi/hSrOpTYKNMw/default.jpg"></a>
                    <a href="//www.youtube.com/embed/WFhzzJjRncI?rel=0&autoplay=1" target="tab"><img src="//img.youtube.com/vi/WFhzzJjRncI/default.jpg"></a>
                  </span>
                 </div>
                </div>
                </div></div>
                
<br>
<hr>
<div id="help">
<%-include('../../partials/admin/footer.ejs')%>
    </div>
</div>


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">डैशबोर्ड</a>
        </li>
        <li class="breadcrumb-item active"> मेरा डैशबोर्ड</li>
    </ol>
   
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
         
            
            <div class="text-center">
                <small>Copyright © 5 Star</small>
            </div>
        </div>
    </footer>

   
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    </div>


    
    <script src="https://kit.fontawesome.com/5fb47b5325.js" crossorigin="anonymous"></script>
</body>

</html>