<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Majdoort</title>
    <link rel="stylesheet" href="/css/selectedm.css">
    <link rel="stylesheet" href="/css/availablem.css">

    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <style>
        /* Your CSS styles here */
        .card {
            background: #fff;
            margin-top: 100px;
            transition: .5s;
            border: 0;
            border-radius: .1875rem;
            display: inline-block;
            position: relative;
            width: 100%;
            box-shadow: none;
        }

        .card .body {
            font-size: 14px;
            color: #424242;
            padding: 20px;
            font-weight: 400;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        .profile-page .profile-header {
            position: relative;
        }

        .profile-page .profile-header .profile-image img {
            border-radius: 50%;
            width: 140px;
            border: 3px solid #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        .profile-page .profile-header .social-icon a {
            margin: 0 5px;
        }

        .profile-page .profile-sub-header {
            min-height: 60px;
            width: 100%;
        }

        .profile-page .profile-sub-header ul.box-list {
            display: inline-table;
            table-layout: fixed;
            width: 100%;
            background: #eee;
        }

        .profile-page .profile-sub-header ul.box-list li {
            border-right: 1px solid #e0e0e0;
            display: table-cell;
            list-style: none;
        }

        .profile-page .profile-sub-header ul.box-list li:last-child {
            border-right: none;
        }

        .profile-page .profile-sub-header ul.box-list li a {
            display: block;
            padding: 15px 0;
            color: #424242;
        }

        .customer-form {
    position: fixed;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}

.main .customer-form{
    visibility:visible;
    opacity:1;
}
    </style>
</head>

<body>
    <header>
        <h1>MAJDOOR</h1>
        <div class="profile">
           
            <a href="/customerdetails"><i class="fas fa-user-alt"></i></a>
            <a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>

    </header>

    <div class="container profile-page">
        <div class="row">
            <%record.forEach((item,key)=>{%>
                <!-- Profile 1 -->
                <div class="col-xl-6 col-lg-7 col-md-12 ">
                    <div class="card profile-header ">
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="profile-image float-md-right"> <img
                                            src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""> </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <h4 class="m-t-0 m-b-0"><strong>Majdoor Name: </strong>
                                        <%=item.username%>
                                    </h4>
                                    <span class="job_post"> Skill: <%=item.skills%></span>
                                    <p> Location: <%=item.location%>
                                    </p>
                                    <p> Contact No.: <%=item.phone_no%>
                                    </p>
                                    <div>
                                        <a  class="request-button" href="/smajdoor/<%=item.id%>"><button
                                                class="btn btn-dark">Hire</button></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
                    <!-- Repeat the structure for additional profiles as needed -->

        </div>
    </div>

    <div class="customer-form">
        <h3>Your Information</h3>
        <form action="#" method="post">
            <div class="sub-input">
                <label for="street">Street Number:</label>
                <input type="text" id="street" name="street" required>
            </div>

            <div class="sub-input">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
            </div>

            <div class="sub-input">
                <label for="pincode">Pin Code:</label>
                <input type="text" id="pincode" name="pincode" required>
            </div>

            <div class="sub-input">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" required>
            </div>

            <div class="sub-input">
                <label for="contact">Contact Number:</label>
                <input type="tel" id="contact" name="contact" pattern="[0-9]{10}" required>
            </div>

            <div class="button-container">
                <button type="submit" class="request-button" onclick="requestLabor()">Request for Booking</button>
                <a href="majdoor_profiles.html">
                    <button type="button" class="discard-button">Discard</button>
                </a>
            </div>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/5fb47b5325.js" crossorigin="anonymous"></script>
</body>

</html>